html, body{
    width: 500px;
    height: 500px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Gilroy';
}
#box{
    width: 500px;
    height: 500px;
    background-color: red;
}
#inner{
    width: 50vw;
    height: 50vh;
    background-color: blue;
}
h1{
    font-size: 7vmin;
}